<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <script type="text/javascript">

    function submitform(){
      var formData = $("#idkey").val();

      var sendData =  JSON.stringify({id: formData});

      $.ajax({
        type: "POST",
        url: "/delete",
        data: sendData,
        success: function(doc){
          alert("성공적으로 삭제되었습니다."+JSON.stringify(doc));
          location.replace("/empls");
        },
        dataType: "json",
        contentType : "application/json"
      });
    }

    $('#uploadForm').submit(function() {
      $("#status").empty().text("File is uploading...");
      $(this).ajaxSubmit({

          error: function(xhr) {
      status('Error: ' + xhr.status);
          },

          success: function(response) {
      $("#status").empty().text(response);
              console.log(response);
          }
      });
        //Very important line, it disable the page refresh.
    return false;
    });

    </script>
  </head>
  <body>
    {{> header }}
    <p>상세정보</p> <!-- 수정 가능하도록 처리-->
    <table>
    <tr><th>이름</th><th>직위</th><th>사진</th></tr>
        <tr>
            <td>{{name}}</td>
            <td>{{position}}</td>
            <td><image src="../{{fileId}}"/></td>
            <input type="text" value="{{_id}}" id="idkey">
        </tr>
    </table>
    <br>
    <form id="uploadForm"
         enctype="multipart/form-data"
         action="/api/photo?id={{_id}}"
         method="post">
      <input type="file" name="userPhoto" />
      <input type="submit" value="Upload Image" name="submit">
      <span id = "status"></span>
    </form>
    <input value="삭제" type="button" onclick="submitform()">
    {{> footer}}
  </body>
</html>
